*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0,0.1);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 30px 10px;
}
.card{
 width: 270px;
 height: 300px;
 padding: 15px;
 border-radius:20px;
 background-color: white;
 color: black;
 box-shadow: 5px 20px 30px rgba(0,0,0,0.1);
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height:40px;
  width: 40px;
  border-radius: 50%;
  outline: 2px solid rgb(225, 221, 221);
  outline-offset: 5px; 
  margin: 10px;
}

.top button{
   border: 1px solid  rgb(200, 197, 197);
   padding: 3px 10px;
   border-radius: 5px;
   color: rgb(144, 145, 146);
}

.center{
 margin: 12px 0px;
}
.center h3{
  font-size:16px;
  font-weight: 200;
}
span{
  font-size: 10px;
  color: rgb(144, 145, 146)
}
.center h2{
font-size: 20px;
margin: 5px 0px;
font-weight: 600;
font-size: 16px;
}
.partTime{
  display: flex;
  gap: 5px;
}
.partTime h4{
  background-color: rgb(229, 230, 231);
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
}
.bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  border-top: 2px solid rgb(232, 228, 228);
  padding: 20px 0px;
}
.bottom h3{
font-size:17px;
}
.bottom p{
  font-size: 10px;
  color: rgb(144, 145, 146)
}
.bottom button{
  background-color: black;
  color: rgb(228, 224, 224);
  padding:8px 20px;
  border-radius: 5px;
  border: none;
  font-size: 10px;
}